.page-bio {
    margin: 30px 60px;
    color: white;
}

.person-name {
    font-size: 1.5em;
}

.about-section {
    font-size: 1.2em;
}

.skill-section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}