.page-portfolio {
    margin: 30px auto;
}

.av-frame {
    margin: 20px;
    display: inline-block;
}

.portfolio-header {
    margin-bottom: 30px;
}

.portfolio-title {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.media-container {
    margin: 20px;
    display: inline-block;
}
